/target
/project
.bsp
/.idea/modules/Airplane.iml
/.idea/modules/Airplane-build.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sbt.xml
/.idea/libraries/sbt__org_scala_lang_scala3_library_3_3_2_2_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_10_jar.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/.idea/vcs.xml
